{% extends "base.html" %}
{% load static %} {% load crispy_forms_tags %}
{% block links %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    
{% endblock %}

{% block content %}

<div class="products">

<div class="container">
    <div class="menu">
        <div class="div">
   
            {% comment %} <div id="price" class="div">
                <h1 id="h1">Ціна:</h1>
                <p>
                    <input type="number" placeholder="Від" class="price"> - <input type="number" placeholder="До" class="price">
                </p>
            </div>
            <hr class="hr">

            <div class="div">
                <h1 id="h1">Розмір:</h1>
                <p><input type="checkbox" class="size"> XS</p>
                <p><input type="checkbox" class="size"> S</p>
                <p><input type="checkbox" class="size"> M</p>
                <p><input type="checkbox" class="size"> L</p>
                <p><input type="checkbox" class="size"> XL</p>
            </div>

            <hr class="hr">
            <div class="div">
                <h1 id="h1">Колір:</h1>
                <p><input type="checkbox" class="color">Чорний</p>
                <p><input type="checkbox" class="color">Білий</p>
            </div>

            <hr class="hr">
            <div class="div">
                <h1 id="h1">Тип:</h1>
                <p><input type="checkbox" class="type">Футболки</p>
                <p><input type="checkbox" class="type">Худі</p>
            </div>
            <hr class="hr">
            <div class="div">
                <h1 id="h1">Колекція:</h1>
                <p><input type="checkbox" class="collection">All</p>
                <p><input type="checkbox" class="collection">Gym</p>
                <p><input type="checkbox" class="collection">Art</p>
                <p><input type="checkbox" class="collection">Nike</p>
                <p><input type="checkbox" class="collection">Couples</p>
                <p><input type="checkbox" class="collection">JDM&CARS</p>
                <p><input type="checkbox" class="collection">Money</p>
                <p><input type="checkbox" class="collection">Country</p>
                <p><input type="checkbox" class="collection">Jujutsu kaisen</p>
            </div>
            <hr class="hr"> {% endcomment %}
            <form method="get">
                {{form|crispy}}
                <div class="flex gap-3">
                    <button class="btn btn-outline-light btns">Применить</button>
                    <a class="btn btn-outline-light btns" href="{% url "products:list" %}">Сбросить все</a>
                </div>
            </form>
        </div>
    </div>

    <div class="cards container">
        <div class="row gap-5 w-full">
            {% for product in object_list %}
            <div class="col-3">
                <div class="card" style="width: 18rem;" id="card">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="h">{{product.title}}</h5>
                        <h5 class="card-title" id="vis">vishitiy.ua</h5>
                        <p class="card-text">{{product.price}} UAH</p>
                        <p><button class="btn btn-outline-light" id="btn">Додати до кошика</button></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
