{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block links %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container-main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="menu">
                        <div class="div">
                            <form method="get">
                                {{form|crispy}}
                                <div class="d-flex gap-3">
                                    <button class="btn btn-outline-light btns">Применить</button>
                                    <a class="btn btn-outline-light btns" href="{% url "products:list" %}">Сбросить все</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

    <div class="cards container">
        <div class="row gap-5 w-full">
            {% for product in object_list %}
            <div class="col-3">
                <div class="card" style="width: 18rem;" id="card">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="h">
                            <a href="{{product.get_absolute_url}}" class="transition-colors hover:text-orange-600">
                            {{product.title}}
                            </a>
                        </h5>
                        <h5 class="card-title" id="vis">vishitiy.ua</h5>
                        <p class="card-text">{% include "products/includes/price.html" %}</p>
                        <p><button class="btn btn-outline-light" id="btn">Додати до кошика</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}