{% extends "base.html" %}
{% load static %}


{% block links %}

<link rel="stylesheet" href="{% static 'aboutus_contacts/css/about_us.css' %}">
{% endblock %}


{% block content %}


<div class="container-for-about" >
    <h4>Про нас</h4>
    <p>
        Це справа звичайного хлопця, який колись захотів собі вишивку замість принта. З часом це переросло у виробництво та продажі по всій земній кулі, які приносять практичність, красу та стиль в життя замовників. 

        Вишивка або дтф друк під замовлення або з каталогу. 
        Адже відтворити можливо ну практично все!
            
        Чекаю на ваші ідеї та замовлення через цей сайт або instagram.
    </p>
</div>


{% endblock %}