{% extends "base.html" %}
{% load static %}


{% block links %}

<link rel="stylesheet" href="{% static 'aboutus_contacts/css/about_us.css' %}">
{% endblock %}


{% block content %}


<div class="container-for-about" >
    <h4>Про нас</h4>
    <p>
        vishitiy.ua - бренд одягу, що спеціалізується на розробці оригінального, 
        витонченого та стриманого одягу в стилі аніме, а також міського вуличного одягу. 
        Ми самі створюємо оригінальні сорочки, толстовки та толстовки. 

        Наша місія: збереження чистоти та витонченості дизайну.
        
        vishitiy.ua прагне створювати дизайни, 
        які тонко демонструють любов людини до аніми та японської культури, 
        зберігаючи при цьому відчуття вуличного одягу. Хоча ми як і раніше невеликий бренд, 
        ми постійно зростаємо та навчаємося щодня. Приєднуйтесь до нас у нашій подорожі та станьте частиною 
        спільноти!
    </p>
</div>


{% endblock %}