<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ласкаво просимо шановні {{user.username}}. Дякую, що вибрали наш магазин. </h1>
    <h3>Інформація про ваше замовлення:</h3>
    <div class="">
        <div>
            <h4>Данi про замовлення</h4>
            {% for k, v in data.items %}
            <li>
                {{k}}: {{v}}
            </li>
            {% endfor %}
        </div>
        <div>
            <h4>Упорядковані товари</h4>
            <ul>
                {% for item in cart %}
                </li>
                    <p>продукт: {{item.product.title}}</p>
                    <p>Кількість: {{item.quantity}}</p>
                    <p>Розмір: {{item.size}}</p>
                    <p>Забарвлення: {{item.color}}</p>
                    <p>Кінцева ціна ({{item.price}} * {{item.quantity}}): {{item.total_price}}</p>
                    <img src="{{item.product.image.url}}" alt="">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>