<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Приветствуем дорогой {{user.username}}. Спасибо что выбрали наш магазин. </h1>
    <h3>Информация о вашем заказе:</h3>
    <div class="">
        <div>
            <h4>Данные о заказе</h4>
            {% for k, v in data.items %}
            <li>
                {{k}}: {{v}}
            </li>
            {% endfor %}
        </div>
        <div>
            <h4>Заказанные товары</h4>
            <ul>
                {% for item in cart %}
                </li>
                    <p>Продукт: {{item.product.title}}</p>
                    <p>Количевство: {{item.quantity}}</p>
                    <p>Размер: {{item.size}}</p>
                    <p>Цвет: {{item.color}}</p>
                    <p>Итоговая цена ({{item.price}} * {{item.quantity}}): {{item.total_price}}</p>
                    <img src="{{item.product.image.url}}" alt="">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>