{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "main/css/index.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap">
{% endblock links %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-light">
    <div class="container-with-main-img text-center">
        <img src="{% static "main/images/bg_image.jpg" %}" alt="" class="img-girl img-fluid">
        <!-- <img src="{% static "main/images/bg.jpg" %}" alt="" class="img-fluid background-for-main"> -->
        <div class="text-on-top">
            <div class="name-of-company">VISHITY.UA</div>
            <div class="descr-of-company">Стильний та комфортний одяг для сучасних активних людей. Якісні матеріали, інноваційний дизайн. Підкреслюй свою індивідуальність!</div>
        </div>
    </div>

    <div class="subtitle fs-3 mt-4" id="car-txt">
        Акційні знижки
    </div>
    <div id="carouselExampleRide" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner text-center">
          {% for product_group in discounted_products_grouped %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                {% for product in product_group %}
                  {% if product %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-2">
                      <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img-fluid d-block w-100" alt="{{ product.title }}">
                        <div class="fs-3 name-of-collection">{{ product.name|upper }}</div>
                        <div class="fs-6 link-color name-of-collection">Перейти до каталогу</div>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="name-of-coll fs-3 mt-4" style="color: white;">
        Наші колекції
    </div>
    <div class="container collections justify-content-center mt-2">
        <div class="row justify-content-center">
            {% for collection in collections %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 container-with-img text-center">
                <a href="{% url "products:list" %}?collection={{collection.id}}">
                    <img src="{{ collection.image.url }}" alt="{{ collection.name }}" width="100%" height="100%" class="img-fluid cards">
                    <div class="text-on-bottom">
                        <div class="fs-3 name-of-collection">{{ collection.name|upper }}</div>
                        <div class="fs-6 link-color name-of-collection">Перейти до каталогу</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="fixed bottom-0 right-0 arrow">
    <button class="bg-transparent p-5 flex flex-col items-center justify-content-center" id="scrollButton" onclick="scrollPage()" data-direction="down">
    </button>
</div>
{% endblock content %}

{% block js %}
<script src="{% static "main/js/scroll-arrow.js" %}"></script>
<script src="{% static "main/js/slider.js" %}"></script>
{% endblock js %}