{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "main/css/index.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap">
{% endblock links %}

{% block content %}
<div class="d-flex flex-column justify-content-center text-light align-items-center">
    <div class="container-with-img">
        <img src="{% static "main/images/bg_image.jpg" %}" alt="" width="100%" height="50%" class="img-fluid">
        <img src="{% static "main/images/bg.jpg" %}" alt="" class="img-fluid background-for-main">
        <div class="text-on-top">
            <div class="fs-2 fw-bold">VISHITY.UA</div>
            <div class="fs-4">Стильний та комфортний одяг для сучасних активних людей. Якісні матеріали, інноваційний дизайн. Підкреслюй свою індивідуальність!</div>
        </div>
    </div>



    <div class="subtitle fs-3">
        Акційні знижки
    </div>
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
            {% for product_group in discounted_products_grouped %}
              <div class="carousel-item {% if forloop.first %}active{% endif %} justify-content-center">
                <div class="row justify-content-center">
                  {% for product in product_group %}
                    {% if product %}
                      <div class="col-md-3" >
                        <img src="{{ product.image.url }}" class="d-block" style="width: 60%;" alt="{{ product.title }}">
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>




    <div class="subtitle fs-2">
        Наші колекції
    </div>
    <div class="container collections">
        <div class="row justify-content-center">
            {% for collection in collections %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 container-with-img collect" data-collection-id="{{ collection.id }}">
                <img src="{{ collection.image.url }}" alt="{{ collection.name }}" width="100%" height="100%" class="img-fluid cards">
                
                    <div class="fs-3 name-of-collection">{{ collection.name|upper }}</div>
                    <div class="fs-6 link-color name-of-collection">Перейти до каталогу</div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="fixed bottom-0 right-0">
    <button class="bg-transparent p-5 flex flex-col items-center justify-content-center" id="scrollButton" onclick="scrollPage()">
    </button>
</div>
{% endblock content %}

{% block js %}
<script src="{% static "main/js/scroll-arrow.js" %}"></script>
<script src="{% static "main/js/collections.js" %}"></script>
<script src="{% static "main/js/slider.js" %}"></script>
{% endblock js %}