


main {
    flex: 1;
    padding-top: 80px; /* Добавляем отступ сверху для основного содержимого */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1A1A1A;
    padding: 20px 10px;
    flex: 0 0 auto;
}

footer a {
    color: #f1f1f1;
    padding: 12px;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.container {
    width: 100%;
    
}

.name-of-company {
    color: #f1f1f1;
    flex-wrap: wrap;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-for-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-for-social-links {
    width: 15%;
}



footer img {
    color: aliceblue;
    width: 45px;
    height: 45px;
}

.authors-container {
    justify-content: center;
    align-items: center;
    border-top: #f1f1f1 solid 1px;
    width: 70%;
    height: 25px;
}

.authors {
    color: #f1f1f1;
    margin-top: 30px;
}

@media (max-width: 1316px) {
    footer #not-in-phone-version {
        display: none;
    }
  
}


@media (max-width: 621px) {
    #searchbox  {
      display: none;
  
    }

    .container {
        width: 300px;
        justify-content: center;
        flex-wrap: wrap;   
        
    }
    .authors-container {
        display: flex;
    }


    .authors-container .authors {
        padding-top: 10px;
        justify-content: center;
        align-items: center;
    }
    footer {
        width: 100%;
    }
  
    
  }