* {box-sizing: border-box;
  }


body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0D0D0D;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #1A1A1A;
  padding-left: 100px;
  padding-right: 100px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #f1f1f1;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}



nav {
  display: flex;
  align-items: center;
  }


.menu-child {
    display: none;
}

.show {
    display: block;
}

.menu-child a {

    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.a {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}