* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0D0D0D;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1A1A1A;
  padding: 20px 10px;
  z-index: 1000; /* Обеспечивает, что шапка будет выше других элементов */
  border-bottom: 1px solid #f1f1f1 ;
}

.wrap-logo {
  display: flex;
  align-items: center;
}
.wrap-logo .logo {
  width: 94px;
  height: 104px;
}

header .links {
  color: #f1f1f1;
  padding: 22px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

nav {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* width: 400px; */
}

.username-settings {
  color: #f1f1f1;
  font-size: 10px;
}

header .container-input .input {
  background-color: transparent;
  background-image: url(img/search.svg);   
  background-repeat: no-repeat; /*Убираем повтор изображения*/   
  background-position: 4px;
  padding-left: 20px;
  border: 1px solid #f1f1f1;
  color: white;
  width: 370px;
  height: 40px;
  outline: none;
}

header .cntainer-for-cart-user{
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

 .img-user-cart .user-cart{
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  /* padding-left: 30px; */
}

main {
  padding-top: 80px; /* Добавляем отступ сверху для основного содержимого */
}