.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.slider-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

.slider-item .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}