{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'your_design/css/design.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="your">
                <p>Обери базову структуру</p>
                <div class="select-base-clothes">
                    <input type="radio" id="blackH" name="base_structure" value="blackH">
                    <label for="blackH"> 
                        <img src="{% static 'your_design/img/blackH.PNG' %}" alt="" style="width: 100px;">
                    </label>

                    <input type="radio" id="blackT" name="base_structure" value="blackT">
                    <label for="blackT"> 
                        <img src="{% static 'your_design/img/blackT.PNG' %}" alt="" style="width: 100px;">
                    </label>
                </div>

                <p>Обери колір</p>
                <div class="select-color">
                    <input type="radio" id="black" name="color" value="black">
                    <label for="black"> 
                        <img src="{% static 'your_design/img/black.JPG' %}" alt="" style="width: 50px;">
                    </label>

                    <input type="radio" id="red" name="color" value="red">
                    <label for="red"> 
                        <img src="{% static 'your_design/img/red.JPG' %}" alt="" style="width: 50px;">
                    </label>

                    <input type="radio" id="gray" name="color" value="gray">
                    <label for="gray"> 
                        <img src="{% static 'your_design/img/gray.JPG' %}" alt="" style="width: 50px;">
                    </label>

                    <input type="radio" id="green" name="color" value="green">
                    <label for="green"> 
                        <img src="{% static 'your_design/img/green.JPG' %}" alt="" style="width: 50px;">
                    </label>

                    <input type="radio" id="yellow" name="color" value="yellow">
                    <label for="yellow"> 
                        <img src="{% static 'your_design/img/yellow.JPG' %}" alt="" style="width: 50px;">
                    </label>
                </div>

                <p>Оберіть картинку для свого дизайну</p>
                <div class="select-print">
                    <input type="file" name="design_image">
                    <hr>
                </div>

                <p>Прінт або вишивка</p>
                <div class="print-or-vishivka">
                    <label for="print"><input type="radio" id="print" name="print_or_embroidery" value="print">Прінт</label>
                    <label for="vish"> <input type="radio" id="vish" name="print_or_embroidery" value="embroidery">Вишивка</label>
                </div>

                <p>Побажання</p>
                <div class="comment">
                    <textarea name="comment"></textarea>
                </div>

                <button type="submit" class="btn btn-light">Надіслати</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}