{% extends "base.html" %}
{% load static %} {% load crispy_forms_tags %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap">


<script src="{% static 'users/js/validator.js' %}" defer></script>
{% endblock %}


{% block content %}

<div class="text-light d-flex justify-content-center flex-column align-items-center my">
    <h1>Авторизацiя</h1>
    <form method="post" class="my-form">
        {% csrf_token %}
        <div class="cont">
            {{form|crispy}}
            <p class="name">Вже є пароль?<a href="{% url 'users:signup' %}" class="link"> Зареєструватися</a></p>
            <button class="btns">Увійти</button>
        </div>
    
    </form>
</div>
{% endblock %}