{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center mt-5" >
    <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Вы уверены что вы хотите выйти из аккаунта?</h5>
          <h6 class="card-subtitle mb-2 text-secondary">Вы сможете всегда войти в любое время</h6>
          <div class="d-flex gap-2 pt-3">
              <button onclick="history.back();" class="btn btn-outline-light">Отмена</button>
              <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Подтвердить</button>
              </form>
          </div>
        </div>
    </div>
</div>
{% endblock content %}